.button {
  border-radius: 8px;
  border: 1px solid var(--default-color);
  padding: 0.6rem 1.2rem;
  display: inline-block;
  line-height: 1rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  color: var(--text-dark);
  background-color: var(--default-color);
  cursor: pointer;
  transition: border-color 0.25s;
  transition: 0.25s;
}

.button:hover {
  background-color: var(--default-darken-color);
  border-color: var(--default-darken-color);
  color: var(--text-dark);
}

.button:active {
  box-shadow: 0px 3px 6px rgba(136, 136, 136, 0.35);
}

.button.primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--text-light);
}

.button.primary:hover {
  background-color: var(--primary-darken-color);
  border-color: var(--primary-darken-color);
}

.button.secondary {
  background-color: var(--secondary-color);
  border-color: var(--primary-color);
  color: var(--primary-color);
}
.button.secondary:hover {
  background-color: var(--secondary-darken-color);
}

.button.danger {
  background-color: var(--danger-color);
  border-color: var(--danger-color);
  color: var(--text-light);
}

.button.danger:hover {
  background-color: var(--danger-darken-color);
  border-color: var(--danger-darken-color);
}

.button.disabled {
  cursor: not-allowed;
  background-color: var(--disabled-color);
  border-color: var(--disabled-color);
  color: var(--text-dark);
}

.button.disabled:active {
  box-shadow: none;
}

.button.block {
  width: 100%;
}
